<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <style>
        p {
            font-size: 20px;
        }
    </style>

</head>

<body>
    <div class="container bg-light" style="margin-top: 100px;">
        <div class="container text-center bg-light">
            <h1 class="display-1 text-info">The Course Preview</h1>
        </div>

        <div class="container text-center" style="padding: 15px 15px 15px 15px; border: 1px solid lightgreen;
        display:flex;
        justify-content: center;
        align-items: center;
        ">
            <iframe width="1280" height="720" src="https://www.youtube.com/embed/1TTkaXYEs9M?autoplay=1&mute=0"></iframe>
        </div>
        <div class="container">
            <h2 class="display-2 text-info" style="border-bottom: 1px solid black;">The Basics</h2>
        </div>
        <div class="container">
            <p>High blood pressure, also called hypertension, is blood pressure that is higher than normal. Your blood pressure changes throughout the day based on your activities. Having blood pressure measures consistently above normal may result in a
                diagnosis of high blood pressure (or hypertension).</p>
            <p>The higher your blood pressure levels, the more risk you have for other health problems, such as heart disease, heart attack, and stroke. Your health care team can diagnose high blood pressure and make treatment decisions by reviewing your
                systolic and diastolic blood pressure levels and comparing them to levels found in certain guidelines. The guidelines used to diagnose high blood pressure may differ from health care professional to health care professional: Some health
                care professionals diagnose patients with high blood pressure if their blood pressure is consistently 140/90 mm Hg or higher.</br>2 This limit is based on a guideline released in 2003, as seen in the table below. Other health care professionals
                diagnose patients with high blood pressure if their blood pressure is consistently 130/80 mm Hg or higher.1 This limit is based on a guideline released in 2017, as seen in the table below.</p>
        </div>

        <div class="container">
            <h2 class="display-2 text-info" style="border-bottom: 1px solid black;">The Heart</h2>
        </div>
        <div class="container">
            <div class="container text-center" style="padding: 15px 15px 15px 15px; border: 1px solid lightgreen;
        display:flex;
        justify-content: center;
        align-items: center;
        ">
                <iframe width="1280" height="720" src="https://www.youtube.com/embed/X9ZZ6tcxArI?autoplay=1&mute=0"></iframe>
            </div>
        </div>
        <div class="container">
            <h1 class="display-2 text-info" style="border-bottom: 1px solid black;">Heart Attack and Heart Disease</h1>
        </div>
        <div class="container">
            <p> High blood pressure can damage your arteries by making them less elastic, which decreases the flow of blood and oxygen to your heart and leads to heart disease. In addition, decreased blood flow to the heart can cause: Chest pain, also called
                angina. Heart attack, which happens when the blood supply to your heart is blocked and heart muscle begins to die without enough oxygen. The longer the blood flow is blocked, the greater the damage to the heart. Heart failure, a condition
                that means your heart can’t pump enough blood and oxygen to your other organs.</p>
        </div>
        <div class="container">
            <h1 class="display-2 text-danger" style="border-bottom: 1px solid black;">Types of Hypertension</h1>
        </div>
        <div class="container">
            <p>Below you can see a .docx file that can be alot useful when we are talking about the types of hypertension.</p>
            <a href="https://anonfiles.com/I314195ey2/TypesofHypertension_docx"><button class="border-1">DOCX PRESENTATION NOW!</button></a>
        </div>
        <div class="container">
            <h2 class="display-4 text-info" style="border-bottom: 1px solid black;">Pathophysiology and Diagnosis of Hypertension</h2>
        </div>
        <div class="container">
            <div class="container text-center" style="padding: 15px 15px 15px 15px; border: 1px solid lightgreen;
        display:flex;
        justify-content: center;
        align-items: center;
        ">
                <iframe width="1280" height="720" src="https://www.youtube.com/embed/HcbS7n1nkS8?autoplay=1&mute=0"></iframe>
            </div>
        </div>
        <p>Hypertension is a chronic elevation of blood pressure that, in the long-term, causes end-organ damage and results in increased morbidity and mortality. Blood pressure is the product of cardiac output and systemic vascular resistance.It follows
            that patients with arterial hypertension may have an increase in cardiac output, an increase in systemic vascular resistance, or both. In the younger age group, the cardiac output is often elevated, while in older patients increased systemic
            vascular resistance and increased stiffness of the vasculature play a dominant role. Vascular tone may be elevated because of increased α-adrenoceptor stimulation or increased release of peptides such as angiotensin or endothelins. </p>


        <div class="container">
            <h1 class="display-5 text-info" style="border-bottom: 1px solid black;">What can I do to prevent or manage high blood pressure?</h1>
        </div>
        <div class="contatiner">
            <p>Many people with high blood pressure can lower their blood pressure into a healthy range or keep their numbers in a healthy range by making lifestyle changes. Talk with your health care team about Getting at least 150 minutes of physical activity
                each week (about 30 minutes a day, 5 days a week) Not smoking Eating a healthy diet, including limiting sodium (salt) and alcohol Keeping a healthy weight Managing stress Learn more about ways to manage and prevent high blood pressure.
                In addition to making positive lifestyle changes, some people with high blood pressure need to take medicine to manage their blood pressure. Learn more about medicines for high blood pressure. Talk with your health care team right away
                if you think you have high blood pressure or if you’ve been told you have high blood pressure but do not have it under control. By taking action to lower your blood pressure, you can help protect yourself against heart disease and stroke,
                also sometimes called cardiovascular disease (CVD).</p>
        </div>

        <div class="container text-center border-1 rounded" style="border: 1px solid black; margin-bottom: 50px;background: white;">
            <h1 class="display-1 text-info">Thanks for Learning with US!!</h1>
        </div>
    </div>

</body>

</html>